.video-list-grid {
    display: grid;
    gap: 1%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    box-sizing: border-box;
    margin-left: auto;
   margin-right: auto;
   justify-items: center;
   width: min(95%, 70rem);
   margin-inline: auto;
   padding-block: 2rem;
}

.video-card-wrapper {
  box-sizing: border-box;
}