<mat-card class="video-overview-card">
    <mat-card-header>
      <div mat-card-avatar class="video-brand-icon"></div>
      <mat-card-title>{{singleMovieData.title}}</mat-card-title>
      <mat-card-subtitle>({{singleMovieData.original_title}})</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{posterUrlPath}}" alt="Photo of the movie">
    <mat-card-content>
      <div class="scrollable-fix-container">
        <p>
          {{singleMovieData.overview}}
        </p>
      </div>
      <div class="statistic-conatiner">
        <span> Rate: {{singleMovieData.popularity}}</span>
        <span> Votes: {{singleMovieData.vote_count}}</span>
      </div>
    </mat-card-content>
  </mat-card>
